<html>
    <head>
        <title>WorkoutPedia</title>
    </head>
    <body>
        <header>
            <div class= logo>
                <h1>Hi, {{ current_user.username }}!</h1>
                <a href="" >Logo</a>
            </div>
        <div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('exercises.exerciseList') }}" class="top-menu"><span > Baza ćwiczeń </span></a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('users.login') }}" class="top-menu"><span > Login </span></a></li>
                    {% else %}
                    <li><a href="{{ url_for('users.logout') }}" class="top-menu"><span > Logout </span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        </header>



        <div class="container">
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
            <footer>
                <a href="https://mistrzowie.org/uimages/services/mistrzowie/i18n/pl_PL/201912/1575833743_by_Nepen.jpg?1575833743" class="top-menu"><span > Stopka </span></a><br>
            </footer>
    </body>
</html>
